
	<div id="hero-content" class="offset2 span8">
		<h2>California's Premier Internet Service Provider</h2>
		<div id="hero-stage">
		</div>
		<p><button id="call-to-action-btn">Get Service Now</button></p>
	</div> <!-- row-fluid -->
