<div id="hero-content" class="offset2 span8">
	<h2 id="tagline">California's Premier Internet Service Provider</h2>
	<div id="heroStage">
		
		<div class="row-fluid">
			<div class="span12" style="height:80px;">
				<h4 style="color:#043a63;padding-top:25px;font-size:22px;" id="text-one" class="c-centered hide">Covering More Territory Than Any Other Provider</h4>
				<h4 style="color:#043a63;padding-top:0px;font-size:22px;margin:0px;" id="text-one-one" class="c-centered hide">And Now Offering Nation-Wide Access</h4>
				<h4 style="color:#043a63;padding-top:25px;margin-bottom:0px;font-size:22px;" id="text-two" class="c-centered hide">With Dedicated Broadband Access up to 10,000 MBPS</h4>
				<div id="text-three" style="width:100%;text-align:center;" class="hide">
					<h3 style="color:#043a63;margin-top:0px;font-size:22px;" id="text-three" class="c-centered">For Every Type of Home and Business</h3>
				</div>	
				<h3 style="color:#043a63;margin-top:0px;font-size:22px;padding-top:25px" id="text-four" class="c-centered hide">We Have A Variety of Products to Meet Your Criteria</h3>
				<h3 style="color:#043a63;margin-top:0px;font-size:22px;padding-top:25px" id="text-five" class="c-centered hide">And We Do Business Better</h3>
				<h3 style="color:#043a63;margin-top:0px;padding-top:25px;font-size:22px;line-height:32px;" id="text-six" class="c-centered hide">Join all of the Businesses that are Upgrading their Internet Connectivity to California Internet</h3>
			</div>	
		</div>	
		<div class="row-fluid">
			<div class="span12" style="height:200px;">
				<center><img src="assets/animation_ca_state.png" id="graphics-one" style="max-width:110px;margin:0px auto 0px auto;" class="hide"></center>
				<center><img src="assets/animate_us.png" id="graphics-two" style="max-width:240px;margin:0px auto 0px auto;padding-top:20px;" class="hide"></center>
				<div id="graphics-three" style="width:100%;text-align:center;height:100px;padding-top:30px;" class="hide">
					<img src="assets/animate_building_one.png" id="graphics-three-one" style="max-height:110px;margin-right:20px;" class="">
					<img src="assets/animate_building_three.png" id="graphics-three-three" style="max-height:110px;" class="">
				</div>
				<div id="graphics-four" style="width:100%;text-align:center;height:100px;padding-top:10px;" class="hide">
					<img src="assets/logo_clear_fiber.png"  style="max-height:70px;margin-right:20px;" class="">
					<img src="assets/logo_fiber_fusion.png" style="max-height:70px;" class="">
				</div>
				<div id="graphics-five" style="width:50%;height:100px;padding-top:0px;margin:0px auto;text-align:center" class="hide">
					<img src="assets/animate_checklist.jpg"  style="max-height:150px;" class="">
				</div>
				<div id="graphics-six-one" style="width:100%;height:100px;padding-top:20px;margin:0px auto;text-align:center" class="hide">
					<img src="assets/customer_b1.jpg"  style="max-height:80px;background:#fff;padding:5px;margin-right:10px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4);"><img src="assets/customer_c1.jpg"  style="max-height:80px;background:#fff;padding:5px;margin-right:10px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4);"><img src="assets/customer_7a.jpg"  style="max-height:80px;background:#fff;padding:5px;-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.4);">
				</div>
				<div id="graphics-six" style="width:50%;height:100px;padding-top:4px;margin:0px auto;text-align:center" class="hide">
					<img src="assets/animate_arrow_down.png"  style="max-height:60px;" class="animated bounceInDown">
				</div>
			</div>
		</div>

	</div>
	<div id="cta-container">
		<h3 id="cta-text" class="c-centered" style="margin:0px 0px 40px 0px;font-size:22px;">Which type of internet service are you interested in?</h3>
		<p><a href="/business" id="" class="call-to-action-btn" style="margin-right:15px;">Business</a> <a href="/residential" id="" class="call-to-action-btn">Residential</a></p>
	</div>
</div> <!-- row-fluid -->