<div id="hero-content" class="offset2 span8">
	<h2 id="tagline">California's Premier Internet Service Provider</h2>
	<div id="heroStage">
	</div>
	<p><a href="/getservice" id="call-to-action-btn" class="">Get Service Now</a></p>
</div> <!-- row-fluid -->