<div id="hero-content" class="offset2 span8">
	<h2 id="tagline">California's Premier Internet Service Provider</h2>
	<div id="heroStage">
		
		<div class="row-fluid">
			<div class="span12" style="height:80px;">
				<h3 style="color:#043a63;padding-top:15px;" id="text-one" class="c-centered hide">Covering More Territory Than Any Other Provider</h3>
				<h3 style="color:#043a63;padding-top:15px;" id="text-two" class="c-centered hide">With Dedicated Broadband Access up to 10,000 MBPS</h3>
			</div>	
		</div>	
		<div class="row-fluid">
			<div class="span12" style="height:200px;">
				<center><img src="assets/animation_ca_state.png" id="graphics-one" style="max-width:145px;margin:0px auto 0px auto;" class="hide"></center>
				<center><img src="assets/animate_us.png" id="graphics-two" style="max-width:300px;margin:0px auto 0px auto;" class="hide"></center>
				<div id="graphics-three" style="width:100%;text-align:center;height:100px;" class="hide">
					<img src="assets/animate_building_one.png" id="graphics-three-one" style="max-width:100px;margin-right:20px;" class="">
					<img src="assets/animate_building_two.png" id="graphics-three-two" style="max-width:150px;margin-right:20px;" class="">
					<img src="assets/animate_building_three.png" id="graphics-three-three" style="max-width:150px;" class="">
				</div>
				<div id="text-three" style="width:100%;text-align:center;height:100px;" class="hide">
					<h3 style="color:#043a63;padding-top:65px;" id="text-three" class="c-centered">For Every Type of Home and Business</h3>
				</div>	
			</div>
		</div>

	</div>
	<p><a href="/getservice" id="call-to-action-btn" class="">Get Service Now</a></p>
</div> <!-- row-fluid -->