<div id="hero-content" class="offset2 span8">
	<h2 id="tagline">California's Premier Internet Service Provider</h2>
	<div id="heroStage">

		<div class="row-fluid">
			<div id="slide-one-text" class="span12 hide" style="">
				<h3 style="color:#043a63;" class="c-centered">Californias #1 Rated ISP Covering More Territory Than Any Other Provider</h3>
			</div>	
		</div>	
		<div class="row-fluid">
			<div id="animation-ca-state" class="span12 hide" style="padding-top:30px;">
				<center><img src="assets/animation_ca_state.png" style="max-width:125px;margin:0 auto;"></center>
			</div>
		</div>
		
		<div class="row-fluid">
			<div id="text-one" class="span12 hide" style="">
				<h3 style="color:#043a63;" class="c-centered">Californias #1 Rated ISP Covering More Territory Than Any Other Provider</h3>
			</div>	
		</div>	
		<div class="row-fluid">
			<div class="span12">
				<center><img src="assets/animation_ca_state.png" id="graphics-one" style="max-width:125px;margin:20px auto 0px auto;" class="hide"></center>
				<center><img src="assets/animate_us.png" id="graphics-two" style="max-width:300px;margin:20px auto 0px auto;" class="hide"></center>
			</div>
		</div>

	</div>
	<p><a href="/getservice" id="call-to-action-btn" class="">Get Service Now</a></p>
</div> <!-- row-fluid -->