  <div class="modal-header">
    <h3 class="id="myModalLabel">Quick Support</h3>
    <hr style="margin:15px auto 5px auto;opacity:0.3!important;">
  </div>
  <div class="modal-body" style="padding-top:0px;">
   <p id="support-method-call" class="support-method"><i class="icon-phone icon-1x" style="color:#fff;font-size:31px;margin-right:5px;"></i>  Call Us: &nbsp;<span id="support-method-call-number"><br/>(888) 225-1571</span><p>
  <p id="support-method-call" class="support-method"><i class="icon-envelope icon-1x" style="color:#fff;font-size:28px;margin-right:5px;"></i>  Email Us: &nbsp;<br/><a id="support-method-email-address" href="mailto:Contact@CAinternet.net">Contact@CAinternet.net</a><p>
   <p id="support-method-visit" class="support-method"><i class="icon-home icon-1x" style="color:#fff;font-size:35px;margin-right:5px;"></i>  Visit Us: &nbsp; <br/><span id="support-method-address" style="font-size:16px;">California Internet Solutions Inc.<br/>
1300 Eastman Ave. STE 100
Ventura, CA 93003</span><p>
  </div>
  <div class="modal-footer c-centered">
    <button class="btn c-centered c-btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>