<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div id="about-header" class="span12" style="margin-top:13id="customers-header" 0px;">
				<h2 class="header-text c-centered c-text-shadow">About Us</h2>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
			
		<div class="row-fluid">
			<div id="customers-container" class="span12">
				<div class="row-fluid">
					<div id="about-text-container" class="offset2 span8">
						<div class="row-fluid">
							<div class="span12">
								<h2 class="c-white c-centered c-text-shadow" style="margin-bottom:20px;">Our Mission</h2>
								<p class="c-white c-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a tortor non leo aliquam vestibulum. Donec aliquam elit vel ipsum sollicitudin feugiat. Cras tempor mollis velit eget ultricies. Integer mauris sem, commodo eget fermentum in, sollicitudin quis dolor. Praesent condimentum mi at arcu sollicitudin lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas a mi et nunc molestie vestibulum. Curabitur mauris nunc, elementum non interdum nec, dignissim quis sem. Curabitur id lectus sapien. Donec ante magna, pharetra nec ornare at, vulputate vel ante. Integer feugiat justo quis dui accumsan quis consequat quam volutpat.</p>
							</div>
							<div class="row-fluid">
								<div id="about-team" class="span12">
									<h2 class="c-white c-centered c-text-shadow" style="margin-bottom:20px;">Our Team</h2>
									<div class="row-fluid">
										<div class="offset2 span2">
											<%= image_tag("skyler_one.png", :class => 'img-polaroid', :style => '') %>
											<h5 class="c-white c-text-shadow" style="font-size:17px;">Skyler Ditchfield</h5>
											<p class="c-white" style="font-weight:100;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a tortor non leo aliquam vestibulum. Donec aliquam elit vel ipsum sollicitudin feugiat.</p>
										</div>
										<div class="span2">
											<%= image_tag("jon_one.png", :class => 'img-polaroid', :style => '') %>
											<h5 class="c-white c-text-shadow" style="font-size:17px;">Jon Reason</h5>
											<p class="c-white" style="font-weight:100;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a tortor non leo aliquam vestibulum. Donec aliquam elit vel ipsum sollicitudin feugiat.</p>
										</div>
								</div>
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->