<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
			
		<div class="row-fluid">
			<div  class="span12">
				<div class="row-fluid">
					<div id="business-services-container" class="offset2 span8">
							<h1>California INternet for BUsiness</h1>
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->