<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div id="customers-header" class="span12" style="margin-top:13id="customers-header" 0px;">
				<h2 class="c-centered c-text-shadow">Our Customers</h2>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
			
		<div class="row-fluid">
			<div id="customers-container" class="span12">
				<center><%= image_tag("customer_a2.jpg", :class => 'img-polaroid customer-img') %></center>
				<center><%= image_tag("customer_b1.jpg", :class => 'img-polaroid customer-img') %></center>
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->