<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid hidden-phone">
			<div id="hero" class="span12">
				<div id="hero-content-container" class="row-fluid">
				</div>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
		<div class="row-fluid">
			<div id="quotes-container" class="span12">
				<div id="quotes-slider">

					<!-- First Quote -->
					<div class="row-fluid">
						<div class="quote-slide offset4 span4">
							<table id="quote" >
								<tr>
									<td style="margin:0px;">
										<h4 id="home-quote-west" class="home-quote-main" style="font-size:26px;margin-top:10px;">These guys are tight.</h4>
										<h6 class="home-quote-source" style="text-align:right;margin-right:5px;">Kanye West</h6>
									</td><td>
										<%= image_tag("quote_west.png", :id => "circle-quote-home", :draggable => false, :style => 'margin:5px 0px 0px 10px;',) %>
									</td>
								</tr>
							</table>
						</div>
					</div> <!-- .row-fluid -->

					<!-- Second Quote -->
					<div class="row-fluid">
						<div class="quote-slide offset4 span4">
							<table id="quote" >
								<tr>
									<td style="margin:0px;">
										<%= image_tag("quote_sheen.png", :id => "circle-quote-home", :style => 'margin:5px 10px 0px 0px;', :draggable => false) %>
									</td><td>
										<h4 id="home-quote-sheen" class="home-quote-main" style="font-size:19px;margin-top:10px">These dudes know how to party.</h4>
										<h6 class="home-quote-source" style="text-align:left;margin-left:2px;">Charlie Sheen</h6>
									</td>
								</tr>
							</table>
						</div> <!-- .quote-slide -->
					</div> <!-- .row-fluid -->

				</div> <!-- #quotes-slider -->

			</div> <!-- span12-->
		</div> <!-- row-fluid -->
		<div class="row-fluid">
			<div id="info-box-container" class="span12">
				<div class="row-fluid">
					<div id="info-box-inner" class="offset2 span8">
						<div class="row-fluid">
							<div id="info-box-one" class="span12 info-box">
								<div class="row-fluid">
									<div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">More Products, More Options</h2>
								    	<h5 class="c-font c-text-shadow">We have more Products than any other internet service provider so that we can match any Client's need.</h5>
								    </div>
								    <div class="info-image span5">

								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-two" class="span12 info-box">
								<div class="row-fluid">
								    <div class="info-image span5">
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">Lowest Prices, Guaranteed</h2>
								    	<h5 class="c-font c-text-shadow">We'll beat the prices of any other internet service provider in California</h5>
								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-three" class="span12 info-box">
								<div class="info-text span7">
							    	<h2 class="c-font c-bold c-text-shadow">Incredible 24x7 Support</h2>
							    	<h5 class="c-font c-text-shadow">We're always available when you need us.</h5>
							    </div>
							    <div class="info-image span5">

							    </div>
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-four" class="span12 info-box">
								<div class="row-fluid">
								    <div class="info-image span5">
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">Largest Coverage Area in California</h2>
								    	<h5 class="c-font c-text-shadow">From urban areas to rural residential areas, we'll connect anyone.</h5>
								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
					</div> <!-- span12-->
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->
<div id="supportModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>