<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div id="top-nav-container" class="container row-fluid hidden-phone">
	    	<div id="top-nav" class="container offset2 span8">

	    		<ul class="nav pull-right">
				  <li><a href="#">Blog</a></li>
				  <li><a href="#">Service Areas</a></li>
				  <li><a href="#">Our Customers</a></li>
				  <li><a href="#">Partner Program</a></li>
				  <li><a href="#">About Us</a></li>
				  <li><a href="#">Mission</a></li>
				  <li><a href="#">Contact</a></li>
				</ul>
	   		
	   		</div>
	    </div>
	    <div id="bottom-nav-container" class="container row-fluid">
	    	<div class="offset2 span8">

			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			 
			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#"><%= image_tag("logo.png", :id => 'logo', :draggable => false ) %></a>
			 
			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <!-- .nav, .navbar-search, .navbar-form, etc -->
			        <ul class="nav pull-right">
					  <li><a href="#">Business</a></li>
					  <li><a href="#">Residential</a></li>
					  <li><a href="#">Support</a></li>
					</ul>
			      </div>

	 		</div> <!-- offset2 span8 -->
	    </div> <!-- row-fluid -->
	</div>
</div>

<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
		<div class="row-fluid">
			<div id="hero" class="span12">
				<div id="hero-content-container" class="row-fluid">
				</div>
			</div> <!-- row-fluid -->
		</div> <!-- #hero -->
		<div class="row-fluid">
			<div id="quotes-container" class="span12">
				<table id="quote">
					<tr>
						<td style="margin:0px;">
							<h4 id="home-quote-main">These guys are awesome.</h4>
							<h6 id="home-quote-source">Kanye West</h6>
						</td>
						<td>
							<%= image_tag("quote_circle.png", :id => "circle-quote-home", :draggable => false) %>
						</td>
					</tr>
				</table>
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
		<div class="row-fluid">
			<div id="info-box-container" class="span12">
				<div class="row-fluid">
					<div id="info-box-inner" class="offset2 span8">
						<div class="row-fluid">
							<div id="info-box-one" class="span12 info-box">
								<div class="row-fluid">
									<div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">More Products, More Options</h2>
								    	<hr>
								    	<h5 class="c-font c-text-shadow">We have more Products than any other internet service provider so that we can match any Client's need.</h5>
								    </div>
								    <div class="info-image span5">

								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-two" class="span12 info-box">
								<div class="row-fluid">
								    <div class="info-image span5">
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">Lowest Prices, Guaranteed</h2>
								    	<hr>
								    	<h5 class="c-font c-text-shadow">We'll beat the prices of any other service provider in California</h5>
								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-three" class="span12 info-box">
								<div class="info-text span7">
							    	<h2 class="c-font c-bold c-text-shadow">Incredible 24x7 Support</h2>
							    	<hr>
							    	<h5 class="c-font c-text-shadow">Really, htis stuff is amazing</h5>
							    </div>
							    <div class="info-image span5">

							    </div>
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div id="info-box-four" class="span12 info-box">
								<div class="row-fluid">
								    <div class="info-image span5">
								    </div>
								    <div class="info-text span7">
								    	<h2 class="c-font c-bold c-text-shadow">Largest Coverage Area in California</h2>
								    	<hr>
								    	<h5 class="c-font c-text-shadow">Really, htis stuff is amazing</h5>
								    </div>
								</div><!-- row-fluid -->
							</div> <!-- span12-->
						</div> <!-- row-fluid -->
					</div> <!-- span12-->
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>