<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
			
		<div class="row-fluid">
			<div  class="span12">
				<div class="row-fluid" style="margin-top:50px;">
					<center><%= image_tag("logo_shadow.png", :alt => 'California Internet', :id => 'logo', :draggable => false, :style => 'max-width:180px;' ) %></center>
					<h2 class="c-centered c-text-shadow" style="margin-bottom:10px;margin-top:5px;font-size:35px;">Get Service Now</h2>
						<div class="row-fluid">
							<div id="service-areas-container" class="offset3 span6">
							</div>
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<p class="c-centered c-text-shadow" style="font-size:18px;margin-top:10px;"><%= link_to "Back to Main Site", :back %></p>
						</div>
					</div>
				</div> <!-- row-fluid -->
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->