<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
			
		<div class="row-fluid">
			<div id="partner-program-container" class="offset2 span8 c-white-page" style="padding:30px 80px;">

						<div class="row-fluid">
							<div class="span12">
								<h3 class="c-centered" style="color:#444444;margin:10px 0px 0px 0px;">Become A Reseller</h3>
								<hr style="border:1px dashed #438cdb;opacity:0.2;margin:5px auto 20px auto;max-width:500px;">
								<p class="c-centered c-black c-normal">Our reseller program is for any business that has an influence or presence in their customer's decision making on internet connection circuits.  If you are a business that is tech-oriented such as a VOIP telephone installer, retail computer shop, IT firm or computer repair guy you may also be interested in our reseller program.</p>
								<p class="c-centered" style="margin:20px 0px;"><button id="partner-form-btn" class="btn c-btn">Become a Reseller</button></p>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<h4 class="c-centered" style="color:#444444;margin:10px 0px 0px 0px;">Benefits</h4>
								<hr style="border:1px dashed #438cdb;opacity:0.2;margin:5px auto 20px auto;max-width:500px;">
								<div class="row-fluid">
										<ul class="offset2 span8 unstyled c-centered">
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> We offer one of the best commission programs.</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> Brand our circuits with your name and set your own pricing.</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> Our guaranteed lowest prices mean a high sell through rate</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> You will earn a residual commission for the life of your customers</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> All billing and support will be handled by California Internet Solutions Inc.</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> You will get detailed reports along with your commission checks</li>
										  <li style="margin-bottom:8px"><i class="icon-ok c-dark-blue"></i> You will get detailed reports along with your commission checks</li>
										</ul>
								</div> <!-- row-fluid -->
							</div> <!-- span12 -->
						</div> <!-- row-fluid -->
						<div class="row-fluid">
							<div class="offset2 span8">
								<h4 class="c-centered" style="color:#444444;margin:20px 0px 0px 0px;">Requirements</h4>
								<hr style="border:1px dashed #438cdb;opacity:0.2;margin:5px auto 20px auto;max-width:500px;">
								<table class="table table-striped">
								  <tbody>
								    <tr>
								      <td>$99 Setup Fee (Refunded with 3 new clients in the first 30 days)</td>
								    </tr>
								    <tr>
								      <td>Must fill out Non-Disclosure Agreement to receive commission pricing.</td>
								    </tr>
								    <tr>
								      <td>Must have 5 prospective client leads to submit.</td>
								    </tr>
								    <tr>
								      <td>Must have 20 active circuits in 12 months.</td>
								    </tr>
								  </tbody>
								</table>
								<p class="c-centered c-font" style="color:#999999;font-size:11px;">* Terms are flexible under certain conditions. If you are unsure of which program is best for your company contact us via one of these forms and we can discuss with you what options will fit you best.</p>
							</div>
						</div> <!-- row-fluid -->
			</div> <!-- #partner-program-container -->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->
<div id="partnerModal">I'm a modal</div>
