<div id="body-container" class="row-fluid">
	<div id="site-container" class="span12">
			
		<div class="row-fluid">
			<div  class="span12">
				<div class="row-fluid">
					<div id="residential-services-container" class="offset2 span8 c-white-page">

					</div> <!-- #business-services-container -->
				</div>
			</div> <!-- span12-->
		</div> <!-- row-fluid -->
	</div>	<!-- site-container -->
</div>

<!-- Modals Below -->