<div class="row-fluid">
  <div id="services-container" class="offset2 span8">

<h3 class="c-centered">Edit Service</h3>

<center><%= render 'form' %></center>
<center><%= link_to 'Show', @service %> <span class="c-blue">|</span>
<%= link_to 'Back', services_path %> </center>

</div>
</div>
