<div class="row-fluid">
  <div id="services-container" class="offset2 span8">

        <h3 class="c-centered">Add New Service</h3>

		<%= render 'form' %>
		<br/>
		<center><%= link_to 'Back', services_path, :class => '' %> </center>

  </div>
</div>