<div class="row-fluid">
	<center>
		<div class="img-bg-small img-circle" style="text-align:center;margin-right:20px;margin-bottom:10px;">
			<img src="assets/vector_business.png" style="margin-top:10px;max-width:35px;text-align:center;">
		</div>
		<span class="c-centered c-font" style="color:#555555;margin:10px 0px 0px 0px;font-size:28px;font-weight:700;">Business Services
		</span>
	</center>
	<hr style="border:1px dashed #438cdb;opacity:0.2;margin:30px auto 10px auto;">
</div>

<div class="row-fluid">
	<h5 class="c-centered" style="color:#666">Check Service Availability, Pricing and Speed here <i class="icon-arrow-right"></i> <a class="btn c-btn-flat" style="margin-left:10px;font-size:14px;" href="/getservice">Get Service Now</a></h5>
</div>
<div class="row-fluid">
	<div class="well" style="height:330px;">
		<div id="business-list" class="span3">
			<p style="" class="c-font">Available Services:</p>
			<hr style="text-align:left!important;width:100%!important;margin:0px 0px 0px 20px;">
			<ul class="unstyled">
			  <li class="c-font c-dark-blue"><a href="#" id="b-fiber-fusion-link" class="c-dark-blue">Fiber Fusion</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-metro-ethernet-link" class="c-dark-blue">Metro Ethernet</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-adsl-link" class="c-dark-blue">ADSL/ADSL2/DSL</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-cable-link" class="c-dark-blue">Cable</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-fiber-link" class="c-dark-blue">Fiber</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-t1-link" class="c-dark-blue">T1 &#38; Bonded T1</a></li>
			  <li class="c-font c-dark-blue"><a href="#" id="b-wireless-ethernet-link" class="c-dark-blue">Wireless Ethernet</a></li>
			</ul>
		</div>

		<div id="business-carousel" class="carousel slide span9" style="padding:0px 30px 10px 30px;">
			<!-- Carousel items -->
			<div class="carousel-inner">
			    <div class="active item">
			    	<div style="padding-top:60px;">
				    	<h3 class="c-centered" style="color:#cccccc;"><i class="icon-arrow-left" style="font-size:22px;"></i> Select A Service</h3>
				    	<p class="c-font c-centered" style="line-height:20px;color:#cccccc;">
				    		Please select a Service to the left to find out more about it.
				    	</p>
			    	</div>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">Fiber-Fusion</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		Our fusion internet is a proprietary system that allows us to deliver a product with 100% guaranteed uptime. It is a fully managed product with automatic notification if any portion of your circuit goes out, at which point repairs will begin promptly. By providing you with an internet solution that has redundancy and failsafes at every point, we can provide the most reliable internet connection in the world. Fusion internet has more benefits than just uptime and redundancy. There are a multitude of high end business class features built into the Fiber-Fusion Internet CPE. Fiber-Fusion customers also enjoy QoS and data compression features. Our proprietary data compression feature can compress data as much as 500%, allowing for dramatically improved transfer speeds of common files to the internet, or even through inter-office VPN traffic.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">Metro Ethernet</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		Ethernet over Copper / Metro Ethernet or EoC is a product that is quickly replacing T1 circuits wherever it is available. T1 still reigns supreme in the category of coverage, but EoC is about half the cost of T1 circuits for the same bandwidth. With speeds from 2mbps x 2mbps to 20mbps x 20mbps, EoC is a high end, high-uptime, copper-based product with a business SLA of 99.999% for mission critical applications. Customers who are under contract with existing EoC circuits, but need more bandwidth, still have options with our fiber-fusion technology. Call us today even if you’re under contract.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">ADSL/ADSL2/DSL</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		We can deliver business grade ADSL products with a static ip, business-class service level agreement and our outstanding customer service. This is good for very small businesses or businesses that do not require the advantages of the other circuits. We also have long range ADSL2 products that can reach areas where normal phone company DSL is not available. In addition, we offer SDSL products. While it is more expensive and does not supply the higher data rates of ADSL, it does offer a longer range solution in situations where nothing else is available.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">Cable</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		We Sell Time Warner Cable business-class products in all of their National Coverage Areas.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">Fiber</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		We offer flexible, scalable, symmetrical -fiber optic circuits from 5mbps to 10,000 MBPS. Location varies the cost for fiber-optic internet products greatly. We can return a quote on fiber products very quickly, and close-to-net and on-net locations can be turned on quite quickly, these days. On our scalable circuits, bandwidth can be turned up in 4 hours or less.  We guarantee the lowest price on all fiber circuits and bandwidth. Our fiber prices have beaten AT&T, Verizon and other Fiber Carriers by as much as 50% on high bandwidth circuits! Contact us today even if you’re in contract.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">T1 &#38; Bonded T1</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		We have nationwide coverage for T1 circuits. We offer bonded T1’s in increments of 1.5mbps symmetrical up to 12mbps. Our business class SLA and excellent customer service comes standard with your T1 connection.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			    <div class="item">
			    	<h3 class="c-centered" style="color:#555555;">Wireless Ethernet</h3>
			    	<p class="c-black c-font" style="line-height:20px;">
			    		Our wireless Ethernet products are an amazing alternative to Ethernet over Copper (EoC), T1, Bonded T1 and Ethernet over Copper. While EoC is about 50% the cost of T1 for higher bandwidth applications W-Ethernet products deliver the same SLA, low latency and the high speeds of EoC with about 15-20% lower costs on average. Repair times are faster, if ever needed, on W-Ethernet products. Our W-Ethernet products are completely within our own network and all business backbones feature a routed network with full redundancy. W-Ethernet offers quick scalability in .5mbps increments and options, like bandwidth bursting, that can be enabled in minutes. Our coverage areas are Orange County, Los Angeles County, Ventura County, Simi Valley, Santa Barbara County, and Parts of Kern County in Southern California.
			    	</p>
			    	<h4 class="c-centered" style="margin-top:20px;"><a href="/getservice" class="c-dark-blue">Click Here for Availability & Pricing</a></h4>
			    </div>
			</div>
		</div> <!-- #business-carousel -->
	</div> <!-- .well -->
</div>
<div class="row-fluid">
	<h3 class="c-black c-centered">Our Specials</h3>
	<hr style="border:1px dashed #438cdb;opacity:0.2;margin:10px auto 10px auto;">
	<ul class="thumbnails">
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_t1.png" style="max-width:100%">
	      <h4 class="c-black c-centered">T1 for $179/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_ethernet.jpg" style="max-width:100%">
	      <h4 class="c-black c-centered" style="line-height:31px;">10M Ethernet for $555/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  </li>
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_ethernet.jpg" style="max-width:100%">
	      <h4 class="c-black c-centered" style="line-height:31px;">20M Ethernet for $725/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  </li>
	</ul>
	<ul class="thumbnails">
	<li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_fiber.jpg" style="max-width:100%">
	      <h4 class="c-black c-centered" style="line-height:31px;">100M Fiber for $999/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  </li>
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_fiber.jpg" style="max-width:100%">
	      <h4 class="c-black c-centered" style="line-height:31px;">250M Fiber for $2444/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  </li>
	  <li class="span4">
	    <div class="thumbnail">
	      <img src="assets/specials_fiber.jpg" style="max-width:100%">
	      <h4 class="c-black c-centered" style="line-height:31px;">1000M Fiber for $4444/month</h4>
	      <p class="c-grey c-centered" style="font-weight:400;">This special is available in Ventura, Los Angeles & Orange Counties</p>
	      <p class="c-dark-blue c-centered" style="margin:5px;font-weight:400;">Call Us to Redeem this Offer</p>
	      <p class="c-dark-blue c-centered" style="font-size:18px">(888) 225-1571</p>
	    </div>
	  </li>
	</ul>

</div>
</div> <!-- .row-fluid -->