<h3 class="" style="font-size:22px;margin-bottom:0px;">Enter Your City</h3>
<center><input id="cta-city" type="text" name="firstname" placeholder="Ventura" style="border:none;text-align:center;"></center>
<button class="btn c-centered c-btn" data-dismiss="modal" aria-hidden="true">Show Services</button>