<h2 class="c-centered c-text-shadow" style="margin-bottom:10px;">Get Service Now</h2>	
<h4 class="c-centered c-white c-blue" style="margin-top:0px;">Enter Your City</h4>
<center><input id="cta-city" type="text" name="firstname" placeholder="Ventura or Los Angeles" style="border:none;text-align:center;"></center>

<table id="service-results" class="table c-centered c-white">
</table>