<tr><th>
	<h5 class="c-centered c-white" style="margin:10px auto 0px auto;font-weight:100;">Our Available Services In</h5>
	<h3 class="c-white c-centered c-text-shadow" style="margin:0px;"><%= collection[0].city_name %>, California</h3>
</th></tr>

<% _.each(collection, function(collection) { %>
	<% if (collection.available == true) { %>
		<tr>
			<td class="c-centered c-blue" style="padding:0px!important;"><i class="icon-ok"></i> <%= collection.service %></td>
		</tr>
	<% }; %>
<% }); %>

<tr><td style="padding-top:20px!important;"><center><button class="btn c-btn">Order Now</button></center><br/></td></tr>

