<div id="service-logo-container">
	<h3 class="c-centered c-font c-white c-text-shadow" style="margin:0px;font-weight:400;font-size:19px;">Enter Your City</h3>
	<center><input id="cta-city" class="c-box-shadow-black" autofocus="true" type="text" name="firstname" placeholder="City" style="border:none;text-align:center;"></center>
</div>

<table id="service-results" class="table c-centered c-white">
	<tbody>
		<tr></tr>
		<tr><td class="c-centered" style="margin-top:30px;opacity:1;padding:30px 0px 0px 0px">Enter a City to view the available services in that Area</td></tr>
		<tr><td class="c-centered c-white" style="margin-top:30px;padding-bottom:0px;opacity:0.7">Not in California?</td></tr>
		<tr><td class="c-centered c-white" style="padding:0px 0px 20px 0px;opacity:0.7">Call Us - (888) 225-1571</td></tr>
	</tbody>
</table>