<tr><th>
	<h5 class="c-centered c-white" style="margin:10px auto 0px auto;font-weight:100;">Our Available Services in:</h5>
	<h3 class="c-white c-centered c-text-shadow" style="margin:0px;"><%= collection[0].city_name %>, California</h3>
	<h5 class="c-centered c-white c-text-shadow" style="margin:0px 0px 5px 0px;font-size:14px">Select the Services You're Interested In</h5>
</th></tr>

<% _.each(collection, function(collection) { %>
	<% if (collection.available == true) { %>
		<tr>
			<td id="service-listing" class="c-centered c-blue c-text-shadow service-listing" style="padding:0px!important;"><i class="icon-ok"></i> <span id="service-name"><%= collection.service %></span></td>
		</tr>
	<% }; %>
<% }); %>

<tr><td style="padding-top:20px!important;"><center><button id="cta-order-btn" class="btn c-btn">Order Now</button></center><br/></td></tr>

