<div id="service-logo-container">
	<h4 class="c-centered c-font c-blue" style="margin-top:0px;font-weight:400;">Enter Your City</h4>
	<center><input id="cta-city" type="text" name="firstname" placeholder="Ventura, Los Angeles, etc." style="border:none;text-align:center;"></center>
</div>

<table id="service-results" class="table c-centered c-white">
</table>