<tr><th>
	<h5 class="c-centered c-white" style="margin:10px auto 0px auto;font-weight:100;">Our Available Services in:</h5>
	<h3 class="c-white c-centered c-text-shadow" style="margin:0px;"><%= collection[0].city_name %>, California</h3>
	<h6 class="c-white c-centered" style="margin:0px;font-weight:100;">( Click a service for more info )</h6>
</th></tr>

<% _.each(collection, function(collection) { %>
	<% if (collection.available == true) { %>
		<tr>
			<td id="service-listing" class="c-blue c-text-shadow service-listing" style="padding:0px 0px 8px 20%!important;"><input type="checkbox" style="margin-top:0px;" data-service="<%= collection.service %>">&nbsp; <span id="service-name"><%= collection.service %></span></td>
		</tr>
	<% }; %>
<% }); %>

<tr><td><h5 class="c-centered c-white c-text-shadow" style="margin:0px 0px 0px 0px;font-size:14px">Select the Services You're Interested In & Order</h5></td></tr>
<tr><td style="padding-top:5px!important;"><center><button id="cta-order-btn" class="btn c-btn">Order Now</button></center><br/></td></tr>
<tr><td style="padding:0px;"><h5 class="c-centered c-white c-text-shadow" style="margin:0px 0px 0px 0px;font-size:14px">Or Call Us to Order</h5></td></tr>
<tr><td style="padding:0px 0px 20px 0px;"><h3 class="c-centered c-blue c-text-shadow" style="margin:0px 0px 0px 0px;">(888) 225-1571</h3></td></tr>

