<div id="service-logo-container">
	<h4 class="c-centered c-font c-blue c-text-shadow" style="margin-top:0px;font-weight:400;">Enter Your City</h4>
	<center><input id="cta-city" type="text" name="firstname" placeholder="City" style="border:none;text-align:center;"></center>
</div>

<table id="service-results" class="table c-centered c-white">
	<tbody>
		<tr></tr>
		<tr><td class="c-centered" style="margin-top:30px;opacity:0.8">Enter an address to view the available services in your area</td></tr>
	</tbody>
</table>