<div class="row-fluid">
  <div id="cities-container" class="offset2 span8">

  		<h6 class="" style="text-align:left;font-size:12px;margin:0px;padding:0px;"><i class="icon-arrow-left icon-white"></i> &nbsp; <%= link_to 'Back to Counties', { :controller => "cities", :action => "counties" }%></h6>
        <h3 class="c-centered" style="margin-top:0px;"><%= @county %></h3>
        <hr>
        <table class="table" style="max-width:80%;margin:0 auto">
        <% @cities.each do |c| %>
          <tr>
            <td colspan="3" class="c-white c-centered" style="padding:0px;">
                <h4 class="c-white c-centered" style="margin:0px 0px 8px 0px;"><%= c.city %></h4>
            </td>
          </tr>

          <% @cities.each do |c| %>

          <% end %>
        <% end %>
        </table>

  </div>
</div>